name: Unit Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  unit-test:
    uses: sxzz/workflows/.github/workflows/unit-test.yml@v1
    with:
      node-versions: 22, 24, 25

  unit-test-deno:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v2.x

      - name: Install
        run: deno install

      - name: Run Deno Example
        run: deno run --no-lock examples/deno.ts

  coverage:
    uses: sxzz/workflows/.github/workflows/coverage.yml@v1
    needs: unit-test
    permissions:
      id-token: write
